.admin-container {
  display: flex;
  min-height: 100vh;
  background: #111;
  color: white;
}

.admin-sidebar {
  width: 260px;
  background: #151515;
  padding: 20px;
  border-right: 1px solid #333;
}

.admin-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.admin-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  background: #222;
  transition: 0.2s ease;
}

.admin-nav a:hover {
  background: #444;
}

.admin-content {
  flex: 1;
  padding: 40px;
}

/* ===== FORMS ADMIN ===== */

.admin-content input,
.admin-content textarea,
.admin-content select {
  background-color: #111;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.admin-content input::placeholder,
.admin-content textarea::placeholder {
  color: #aaa;
}

.admin-content textarea {
  min-height: 90px;
  resize: vertical;
}

.admin-content button {
  background: #1f6feb;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.admin-content button:hover {
  background: #388bfd;
}
